<hr>
<h5>STATISTICS</h5>
<ul class="list-inline">
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

  <li>
    <div style="float:left; text-align:left">访问量：</div> 
    <div style="float:right; text-align:right">
      <span id="busuanzi_container_site_pv">
        <span id="busuanzi_value_site_pv"></span>次
      </span>
    </div>
  </li>

  <li>
    <div style="float:left; text-align:left"> 访客数：</div> 
    <div style="float:right; text-align:right">
      <span id="busuanzi_container_site_pv">
        <span id="busuanzi_value_site_uv"></span>人次
      </span>
    </div>
  </li>
  
</ul>
